<{strip}>
<{* 個別パッチーワーク用オプション情報設定 *}>
<form id="patchworks_form<{$id}>" action="#" onsubmit="commonCls.sendPost('<{$id}>', Form.serialize($('patchworks_form<{$id}>')), {'target_el':$('<{$id}>'),'focus_flag':true});return false;">
<input type="hidden" name="action" />
<input type="hidden" name="block_id" />
<input type="hidden" name="patchworks_id" />


<h1>PATCHWORS <{$action.patchworks_id}> BLOCK <{$action.block_id}> </h1>
    <table class="outer" summary="<{$smarty.const._SUMMARY_SETTINGFORM}>">

<tr class="row">
<th class="nowrap" scope="row">
<label for="patchworks_item_url<{$id}>">
<{$lang.patchworks_item_url}>
</label>
</th>
<td>
<input id="patchworks_item_url" 
class="text" type="text" name="patchworks_item_url" />
</td>
</tr>
<tr class="row">
<th class="nowrap" scope="row">
<label for="patchworks_item_agent<{$id}>">
<{$lang.patchworks_item_agent}>
</label>
</th>
<td>
<input id="patchworks_item_agent" 
class="text" type="text" name="patchworks_item_agent" />
</td>
</tr>
<tr class="row">
<th class="nowrap" scope="row">
<label for="patchworks_item_start<{$id}>">
<{$lang.patchworks_item_start}>
</label>
</th>
<td>
<input id="patchworks_item_start" 
class="text" type="text" name="patchworks_item_start" />
</td>
</tr>

<tr class="row">
<th class="nowrap" scope="row">
<label for="patchworks_item_finish<{$id}>">
<{$lang.patchworks_item_finish}>
</label>
</th>
<td>
<input id="patchworks_item_finish" 
class="text" type="text" name="patchworks_item_finish" />
</td>
</tr>

<tr class="row">
<th class="nowrap" scope="row">
<label for="patchworks_item_message<{$id}>">
<{$lang.patchworks_item_message}>
</label>
</th>
<td>
<textarea id="patchworks_item_message" 
 name="patchworks_item_message" />
<{$action.item.patchworks_item_message}>
</textarea>
</td>
</tr>

<tr class="row">
<th class="nowrap" scope="row">
<label for="patchworks_item_code<{$id}>">
<{$lang.patchworks_item_code}>
</label>
</th>
<td>
<textarea id="patchworks_item_code" 
 name="patchworks_item_code" />
<{$action.item.patchworks_item_code}>
</textarea>
</td>
</tr>



</table>
    <div class="btn-bottom">
        <input class="btn-width" type="submit" value="<{$lang._regist|smarty:nodefaults}>" />
        <input class="lined_btn btn-width" type="button" value="<{$lang._cancel|smarty:nodefaults}>" onclick="commonCls.sendView('<{$id}>', 'patchworks_view_edit_item');" />
    </div>
</form>
<{include file="../patchworks_script.html"}>
<script class="nc_script" type="text/javascript">
    var patchworksForm = $("patchworks_form<{$id}>");
    patchworksForm["action"].value = "patchworks_action_edit_item";
    patchworksForm["patchworks_id"].value = "<{$action.patchworks_id}>";
    patchworksForm["block_id"].value = "<{$action.block_id}>";
    patchworksForm["patchworks_item_url"].value = "<{$action.item.patchworks_item_url}>";
    patchworksForm["patchworks_item_agent"].value = "<{$action.item.patchworks_item_agent}>";
    patchworksForm["patchworks_item_start"].value = "<{$action.item.patchworks_item_start}>";
    patchworksForm["patchworks_item_finish"].value = "<{$action.item.patchworks_item_finish}>";

</script>
<{/strip}>
